@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 20px;
  width: 100%;
  background: white;
  font-family: Roboto;
}

header {

  padding: 10px;
  width: 100%;
  background-image: url('/fotos/piscinaplaya.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height:500px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px ;
    color:white;
    font-size: 60px;
}
.parrafo{
    display: flex ; 
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: $colorChoco;
    
   
}

.logo {
      margin:40px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 70px;
          border-radius: 20px;
         
        }
    } 

// Redes
.redes {
    
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: flex-end;
    img{
          width: 30px;
            }
       }
  

  // Nav 
   
   

   

  ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px;
      background: rgb(234, 238, 228);
      border-radius: 30px;
      
        li a {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            margin: 10px;
            text-decoration: none;
            font-size: 20px;
           
           a :hover {
              background: white;
              font-size: 25px;
              border-radius: 5px;
        
            }
           }
          }
    .main-container-servicios{
      margin: 0 auto;
      height:90% ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title{
        color:red;
        align-items: center;
      }
    
    }


 
  
    // Main inicio
   .main-container{
    display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: auto;
     padding: 20px;
     
      h2  {
        margin-bottom:  20px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family:'Courier New', Courier, monospace;
        font-style:italic ;
      }  
    
  }
      p {
      font-size: 25px;
      margin: 10px 10px;
      line-height: 1em, 3em;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 0,5em;
      text-transform: lowercase;
      }

  .main_foto {
    
    width: 300px;
    height: 400px;
    margin: 0px auto;
}

// contacto
 main .main-container-formulario{
    background: white;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    
    .container-grupo{
      background:rgb(191, 213, 243) ;
      align-items: center;

    }
    
    .form-title {
      text-align: center;
      font-size: 2rem;
      color:rgb(231, 26, 26);
    }
  }

      

// Pie de Pagina
 .pie-pagina {
   width: 100%;
   background-color: #3a5063;
   color:white;
 }

.pie-pagina .grupo-1 {
   width: 100%;
   max-width: 1100px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 50px;
   padding: 15px 0px;
 }

 .pie-pagina .grupo-1 .box figure {
   width: 100%;
   height: 100%;
  display: flex;
   justify-content: center;
   align-items: center;
 }

 .pie-pagina .grupo-1 .box figure img {
   width: 100px;
 }
.box h2{
  font-size: 20px;
  padding-bottom: 10px;
}
 a .iconos-footer{
  display:inline-block;
   text-decoration: none;
   width: 30px;
   height: 30px;
   line-height: 30px;
   color:azure;
   margin-right: 10px;
   text-align: center;
  
 }

 

 .pie-pagina .grupo-2 {
   background-color: #0a1a2a;
   padding: 15px 10px;
   text-align: center;
   color: #fff;
 }

 .pie-pagina .grupo-2 small {
   font-size: 15px;
 }

 @media screen and (max-width:800px) {
   .pie-pagina .grupo-1 {
     width: 90%;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 10px;
     padding: 25px 0px;
   }
 }

    //  @media  screen and (max-width: 600px) {
      //  nav-container {
        //  display: flex;
        //  flex-direction: row;